<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./css//styles.css">
    <title>404</title>
</head>

<body>
    <div class="_404">
        <h1 style="font-size: 40;">404.</h1>
        <h1 style="display:block">{{errorMessage}}</h1>
        <a href="/">go home</a>
    </div>
</body>

</html>