<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./css//styles.css">
     <link rel="icon" href="/img/weather.png">
    <title>About</title>
</head>

<body>
   <div class="main-content">
    {{>header}}    
    <p>This is simple nodeJS weather application. To create it, I used next npm packages: </p>    
    <ul>
        <li>"express": "^4.17.1"</li>
        <li>"handlebars": "^4.7.6"</li>
        <li>"hbs": "^4.1.1"</li>
        <li>"nodemon": "^2.0.4"</li>
        <li>"request": "^2.88.2"</li>
    </ul>
    <p>As well as the following open resources:</p>
    <ul>
        <li><a href="https://nodejs.org/" target="_blank" rel="noopener noreferrer" >nodejs.org - javaScript runtime</a></li>
        <li><a href="https://www.github.com" target="_blank" rel="noopener noreferrer" >github.com - source control</a></li>
        <li><a href="https://www.heroku.com/home" target="_blank" rel="noopener noreferrer" >heroku.com - cloud platform</a></li>
        <li><a href="https://www.weatherstack.com" target="_blank" rel="noopener noreferrer" >weatherstack.com - weather API</a></li>
        <li><a href="https://www.mapbox.com" target="_blank" rel="noopener noreferrer" >mapbox.com - geocoding</a></li>
    </ul>
    </div>
    {{>footer}}
</body>

</html>